body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}

.hljs {
  /*display: auto;*/
  /*flex: 1 2;*/

  /*flex-flow: row wrap;*/
  overflow-x: auto;
  margin: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  /*flex: 0 0 auto;*/
  /*margin: 0;*/
  /*align-items: flex-start;*/

  /*flex-basis: 91.6667%;*/
  /*box-sizing: border-box;*/
}
/*align-items: flex-start;*/
/*display: flex;*/
/*flex-grow: 1;*/

/*flex-flow: row wrap;*/
pre,
code {
}
/*
.hljs-function {
  color: #f0f;
}



.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}




.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ff00ff;
}




.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}




.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}




.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}*/
