body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #efefef;
}
.slide h3 {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-top: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 24px;
}
.hljs {
  padding: 1rem;
  text-align: justify;
  background: rgba(40, 44, 52, 0.8);
}

.slideText {
}
.gridSlide {
}
.slide img {
  max-width: 90%;
}

.slide pre {
  margin: 0;
  padding-top: 0.5rem;
}
